@font-face {
    font-family: CustomFont;
    src: url(../Fredoka-Light.ttf);
}

#fejleckep{
    width: 75%;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-image: linear-gradient( rgb(205, 216, 253), rgb(69, 75, 95));
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'CustomFont'
}

#tablet{
    height: 400px;
    width: 25%;
}

#telefon{
    height: 400px;
    width: 25%;
}
