@font-face {
    font-family: CustomFont;
    src: url(../Fredoka-Light.ttf);
}

#fejleckep{

    width: 75%;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-image: linear-gradient( rgb(205, 216, 253), rgb(69, 75, 95));
    height: 100vh;
    background-repeat: no-repeat;
    height: 150vh;
    font-family: 'CustomFont'
}

#tablet{
    height: 400px;
    width: 25%;
}

#telefon{
    height: 400px;
    width: 25%;
}

nav{
    padding-left: 25%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    background-color: rgb(4, 18, 67);
}

a{
    padding: 80px;
    color: white;
    text-decoration: none;
    font-size: 30px;
}

h1{
    text-align: center;
    
}

main{
    margin-left: 12.5%;
    margin-right: 12.5%;
}
p{
    font-size: 20px;
    
    line-height: 30px;
    text-align: justify;
}

.logo{
    height: 15vh;
    width: 10%;
}

.forrasok{
    color: white;
    
}