#fejleckep{
    width: 75%;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#tablet{
    height: 400px;
    width: 25%;
}

#telefon{
    height: 400px;
    width: 25%;
}